.btn-secondary {
    background-color: var(--tool-1);
}

#allContainer > div > nav {
    position: relative;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.6rem !important;
    margin-left: 2rem;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #0e47cb;
}

#menu:hover {
    background-color: #4073AF;
}

#menu > span {
    padding-top: 2px;
    font-size: .7em;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tool-1);
}

span.iconText {
    font-size: 0.7em;
}

.btnGroup > i {
    font-size: 1em;
}

#chartBtns {
    display: flex;
    justify-content: flex-end;
}

li > button {
    background-color: var(--tool-1) !important;
    border-color: var(--tool-1) !important;
    width: 2.5rem;
    height: 2.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.2em !important;
}

#menuSwitch {
    color: var(--main-color);
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 0 !important; */
}

#menuSwitch label {
    font-size: 0.8rem;
    font-weight: bold;
}

#floatingMenu {
    display: flex;
    position: relative;
}

#floatingMenu > li {
    text-decoration: none;
    list-style-type: none;
}

button:focus,
.input:focus {
    box-shadow: var(--bs-btn-focus-box-shadow);
}

ul.dropdown-menu.dropdown-menu-end.show {
    z-index: 9999999999;
}


/* .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: lightgray;
} */


/* #menu:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} */
.min-with--nav:hover {
    box-shadow: 0 0 0 0.15rem rgb(204 163 0 / 30%);
    background-color: #cca300 !important;
    border-color: #b292145e !important;
}

.form-switch.form-check-reverse {
    padding-right: 2.5em;
    padding-left: 1rem;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

span.agregates.fa-stack.fa-rotate-180 {
    font-size: .9rem;
}

.round-btn {
    border-radius: 50%;
}


#btnCloseModalChart {
    background-color: red !important;
    border-color:red!important;
}

#btnCloseModalChart:hover {
    box-shadow: 0 0 0 0.15rem rgba(255, 0, 0, 0.3);
    background-color: rgb(146, 2, 2) !important;
}

#btnCloseModalChart:focus {
    box-shadow: 0 0 0 0.15rem rgba(255, 0, 0, 0.3);
}

.text-truncate {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}