.highcharts-data-table {
    margin-top: 3rem;
    height: 64vh;
    overflow: auto;
}

.highcharts-data-table table {   
    border-collapse: collapse;
    color: #171a22;
    font: normal normal 400 1rem/1.25rem arial,sans-serif;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}

/* Ensure highcharts data table captions meet WCAG contrast (>=7:1) */
.highcharts-data-table .highcharts-table-caption {
    color: #111827; /* ~12:1 contrast vs #fff */
    font-weight: 600;
}

/* Some highcharts table header cells are styled inline with red; override to a darker red to meet WCAG AAA (7:1) contrast */
.highcharts-data-table thead th[style*="color: red"] {
    color: #3b0000 !important; /* darker red to pass 7:1 contrast vs #f3f6fc */
    font-weight: 700;
}

/* Make the data table container focusable and show clear focus outline */
.highcharts-data-table:focus {
    outline: 3px solid var(--btn-color, #0E47CB);
    outline-offset: 2px;
}


thead {
    background-color: #f3f6fc;
    display: table-header-group;
}

thead tr {
    border-bottom: 2px solid #6e91e0;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #cfdaf5;
    border-top-width: 0;
    text-align: center;
}

th.highcharts-text {
    border-width: 0;
    display: table-cell;
    padding: 0.75rem 2rem 0.75rem 1rem;
}







/* #tooltipTable {
    --bs-table-bg: transparent !important;
    line-height: inherit !important;
    border-collapse: inherit !important;
    margin-bottom: 0 !important;
    background-color: #fff;
} */

/* tbody, td, tfoot, th, thead, tr {
    border-color: #2c2c2c5c;
    border-style: solid;
    border-width: 0;
    line-height: .5rem;
} */


/* #tooltipTable tbody > tr:last-child > td {
    border-bottom: 0;
  } */

  /* #tooltipTable > :not(caption) > * > * {
    padding: 8px !important;
    color: initial;
} */



/* #tooltipTable > :not(caption) > * > * {
    padding: 8px !important;
} */

/* .tooltipTable{
    border:1px solid #515560;
    background-color: #fff;
    color:#fff
} */

/* .tooltipTableHead, #tooltipTable > thead > tr > th {
    background-color: #515560;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: white;

} */


/* tr.tooltipTableTr {
    font-size: 16px;
    color: white;
} */

/* #tooltipTable > thead > tr > th {
    text-align: center;
    color: white !important;
} */

/* #tooltipTable > tbody > tr > td {
    text-align: end;
} */


/* #tooltipTable > tbody > tr > td:first-child {
    text-align: start;
} */









.highcharts-tooltip span {
    white-space: initial !important;
    font-family: Arial, sans-serif !important;
}


.table_component {
    overflow: auto;
    width: 24rem !important;
    
}

.table_component table {
    border: 1px dotted #dededf;
    /* width: 50%; */
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    /* width: 1rem; */
}

.table_component caption {
    caption-side: top;
    text-align: center;
}

.table_component th {
    border: 1px dotted #dededf;
    background-color: #515560;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

.table_component td {
    border: 1px dotted #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}





.tooltipUnit {
    font-size: .5rem;
}

#tooltipTable > tbody > tr > td {
    padding: 0.3rem;
    font-size: 12px !important;
    color: #515560 !important;
}

#tooltipTable > tbody > tr.TOTAL > td {
    padding: 0.3rem;
    font-size: 13px !important;
    color: #212122 !important;
    font-weight: 600;
}

#tooltipTable > tbody > tr.TOTAL > td:first-child {
    padding-left: 1rem !important;
}